* {
    font-family: Cursive;
}
.page-main-title {
    margin: 15px;
    font-size: xxx-large;
}
.main-tape {
    margin-top: 5px;
    padding: 10px;
    a {
        margin: 10px;
        color: black;
        font-size: x-large;
        text-decoration: none;
    }
}

.convert-form {
    margin: 15px;
    width: 30vw;
    display: flex;
    flex-direction: column;

    .input-container {
        margin-top: 10px;
        display: flex;
        flex-direction: column-reverse;

        .inputs {
            padding: 10px;
        }
    }

    .submit {
        padding: 10px;
        margin-top: 30px;
    }
}

.result-container {
    margin: 20px;
}

@media (max-width: 768px) {
    .page-main-title {
        margin: 10px;
        font-size: xx-large;
    }
    .main-tape {
        padding: 5px;
        a {
            font-size: larger;
        }
    }
    .result-container {
        margin: 15px;
    }
}