{% extends "layout.html" %}

{% block head %}
    <style>
        #TemperatureA {
            color: rgb(25, 95, 160);
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block body %}

    {% if result %}
        <div class="result-container">
            <h3>Result of your calculation</h3>
            <p>{{ temperature }}{{ unit_convert_from }} = {{ result }}{{ unit_convert_to }}</p>
        </div>
    {% else %}
        <form action="/temperature" method="post" class="convert-form">

            <div class="input-container">
                <input class="inputs" type="number" name="temperature" id="temperatureInput">
                <label for="temperatureInput">Enter The length to convert</label>
            </div>

            <div class="input-container">
                <select class="inputs" name="unit_convert_from">
                    <option value="C">Celsius (°C)</option>
                    <option value="F">Fahrenheit (°F)</option>
                    <option value="K">Kelvin (K)</option>
                </select>
                <label for="unitConvertFrom">Unit convert from</label>
            </div>

            <div class="input-container">
                <select class="inputs" name="unit_convert_to" id="unitConvertTo">
                    <option value="C">Celsius (°C)</option>
                    <option value="F">Fahrenheit (°F)</option>
                    <option value="K">Kelvin (K)</option>
                </select>
                <label for="unitConvertTo">Unit convert to</label>
            </div>

            <input class="submit" type="submit" value="Convert">

        </form>
    {% endif %}

{% endblock %}